<!DOCTYPE html>
<html>

<head>
    <meta charset = "UTF-8">
    <title> Fake News Prediction </title>
    <link href='https://fonts.googleapis.com/css/?family=Pacifico'  rel = 'stylesheet'  type='text/css'>
    <link href='https://fonts.googleapis.com/css/?family=Arimo'  rel = 'stylesheet'  type='text/css'>
    <link href='https://fonts.googleapis.com/css/?family=Hindi:300'  rel = 'stylesheet'  type='text/css'>
    <link href='https://fonts.googleapis.com/css/?family=Open+Sans+Condensed:300'  rel = 'stylesheet'  type='text/css'>
    <link rel ="stylesheet" href="{{url_for('static',filename ='style.css')}}">
</head>

<body>
  <div class="login">
  <h1>Fake News Prediction</h1>

       <form action="{{ url_for('predict')}}"method="post">
            <input type="text" name="news" placeholder="Enter the news url" required="required" size="40%" style="font-size: 12pt; height: 30px; width:480px; "/><br><br>
             <button type="submit" class="btn btn-primary btn-large">Predict</button>

    </form>

<br>
<br>

<b>{{ prediction_text }}</b>

  </div>

</body>

</html>